/*  */
:root {
  --purple: #3e0249;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  color: var(--purple);
  font-family: sans-serif;
}
h1 {
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.container {
  padding: 40px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#gameboard {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
#gameboard :nth-child(n + 4):nth-child(-n + 6) {
  border-bottom: 1px solid var(--purple);
  border-top: 1px solid var(--purple);
}
#gameboard :nth-child(3n + 2) {
  border-left: 1px solid var(--purple);
  border-right: 1px solid var(--purple);
}

.box {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--purple);
  font-size: 100px;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  background-color: var(--purple);
  cursor: pointer;
  transition: transform 0.2s;
  border: none;
}
button:hover {
  transform: translateY(-5px);
}
